@font-face {
    font-family: 'Gilroy';
    src: url('font/Gilroy-Light.otf, Gilroy-ExtraBold.otf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Gilroy', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #E3D7F1;
    font-size: 25px;
    margin-bottom: 97px;
}

.container-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.header-nav {
    margin-left: 198px;
    display: flex;
    width: 917px;    
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-net {
    margin-left: 196px;
    display: flex;
    width: 263px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-inner {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    padding-bottom: 40px;
    border-radius: 0px 0px 60px 60px;
}

.call-to-action {
    margin-left: 123px;
}

.call-to-action-title {
    font-size: 55px;
    line-height: 64.74px;
}

.call-to-action-desq {
    margin-top: 28px;
    font-size: 25px;
    line-height: 29.3px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 122px;
}

.authorisation {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    width: 263px;
    height: 69.36px;
    font-size: 30px;
    line-height: 35.31px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Gilroy', sans-serif;
    cursor: pointer;
}

.btn-registration {
    background: #A790C6;
    box-shadow: 0px 3px 10px 0px #B69BDB99;
    color: #ffffff;
    border: 0;
}

.btn-login {
    background: #ffffff;
    border: 3px solid #A790C6;
    color: #A790C6;
    margin-left: 20px;
}

.btn-torg {
    width: 301px;
    height: 81px;
    border-radius: 20px;
    font-size: 23px;
    font-family: 'Gilroy', sans-serif;
    background: #A790C6;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container-token {
    height: 727px;
    display: grid;
    background: #EDF2FF;
    grid-template-columns: 844px 830px;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    font-family: 'Gilroy' sans-serif;
}

.token-percent {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.token-percent h1 {
    font-size: 55px;
    font-weight: 500;
    padding-bottom: 60px;
}

.token-percent h2 {
    padding-top: 85px;
    padding-left: 10px;
    font-size: 72px;
    background-image: linear-gradient(101.16deg, #245A9A 11.32%, #A790C6 96.67%);
    color: transparent;
    background-clip: text;
}

.token-percent p {
    margin-left: 350px;
    margin-top: -150px;
    font-size: 64px;
    background-image: linear-gradient(101.16deg, #245A9A 11.32%, #A790C6 96.67%);
    color: transparent;
    background-clip: text;
}

.token-info {
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 0px #D4E0FF;
    padding: 50px;
}

.token-info h1 {
    font-size: 55px;
    font-weight: 500;
}

.token-info p {
    width: 636.93px;
    color: #404040;
    font-size: 32px;
    padding: 40px 0;
}

.container-steps {
    margin-top: 80px;
    font-family:'Gilroy' sans-serif;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding-bottom: 268px;
}

.steps-name {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    font-size: 24px;
}

.steps-img {
    display: flex;
    position: relative;
}

.steps-logo {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

.steps-logo img:nth-child(n) {
    position: absolute;
    padding-right: 97px;
}

.steps-number {
    display: flex;
    align-items: end;
    justify-content: space-around;
    font-weight: 600;
    font-size: 36px;
}

.container-about-us {
    font-family: 'Gilroy' sans-serif;
    padding-bottom: 267.71px;
}

.about-us-text {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}

.container-about-us h1 {
    font-weight: 600;
    font-size: 55px;
    display: flex;
    justify-content: center;
    padding-bottom: 82px;
}

.container-about-us h6 {
    padding-left: 173px;
    font-size: 40px;
    color: #404040;
}

.container-about-us p {
    padding-left: 173px;
    display: flex;
    font-size: 26px;
    color: #404040;
    padding-top: 25px;
}

.container-advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family:'Gilroy' sans-serif;
}

.container-advantages h1 {
    font-size: 55px;
    padding-bottom: 114px;
}

.advantages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 75px 60px;
    padding: 0 180px;
}

.content {
    display: flex;
    align-items: center;
    font-family:'Gilroy' sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #404040;
    line-height: 29px;
}

.content p {
    margin-left: 60px;
}
