@font-face {
    font-family: 'Gilroy';
    src: url('font/Gilroy-Light.otf, Gilroy-ExtraBold.otf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #E3D7F1;
    margin-bottom: 97px;
}


.container-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    margin: 15px;
    width: 90px;
}

.header-nav {
    display: flex;
    width: 917px;    
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 29px;
}

.social-net {
    display: flex;
    width: 263px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-inner {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    padding-bottom: 40px;
    border-radius: 0px 0px 60px 60px;
}

.call-to-action {
    margin-left: 10%;
}

.call-to-action-title {
    font-size: 55px;
}

.call-to-action-desq {
    margin-top: 28px;
    font-size: 25px;
    line-height: 29.3px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 8%;
}

.authorisation {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    width: 263px;
    height: 69.36px;
    font-size: 30px;
    line-height: 35.31px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Gilroy', sans-serif;
    cursor: pointer;
}

.btn-registration {
    background: #A790C6;
    box-shadow: 0px 3px 10px 0px #B69BDB99;
    color: #ffffff;
    border: 0;
}

.btn-login {
    background: #ffffff;
    border: 3px solid #A790C6;
    color: #A790C6;
    margin-left: 20px;
}

.btn-torg {
    width: 301px;
    height: 81px;
    border-radius: 20px;
    font-size: 23px;
    font-family: 'Gilroy', sans-serif;
    background: #A790C6;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container-token {
    height: 50vh;
    display: grid;
    background: #EDF2FF;
    grid-template-columns: 844px 830px;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
}

.token-percent {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.token-percent h1 {
    font-size: 55px;
    font-weight: 500;
    padding-bottom: 60px;
}

.token-percent h2 {
    padding-top: 85px;
    padding-left: 10px;
    font-size: 72px;
    background-image: linear-gradient(101.16deg, #245A9A 11.32%, #A790C6 96.67%);
    color: transparent;
    background-clip: text;
}

.token-percent p {
    margin-left: 350px;
    margin-top: -150px;
    font-size: 64px;
    background-image: linear-gradient(101.16deg, #245A9A 11.32%, #A790C6 96.67%);
    color: transparent;
    background-clip: text;
}

.token-info {
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 0px #D4E0FF;
    padding: 50px;
}

.token-info h1 {
    font-size: 55px;
    font-weight: 500;
}

.token-info p {
    width: 636.93px;
    color: #404040;
    font-size: 32px;
    padding: 40px 0;
}

.container-steps {
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding-bottom: 5%;
}

.steps-name {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    font-size: 24px;
}

.steps-img {
    display: flex;
    position: relative;
}

.steps-logo {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

.steps-logo img:nth-child(n) {
    position: absolute;
    padding-right: 97px;
}

.steps-number {
    display: flex;
    align-items: end;
    justify-content: space-around;
    font-weight: 600;
    font-size: 36px;
}

.container-about-us {
    padding-bottom: 10%;
}

.about-us-text {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}

.container-about-us h1 {
    font-size: 55px;
    display: flex;
    justify-content: center;
    padding-bottom: 82px;
}

.container-about-us h6 {
    padding-left: 10%;
    font-size: 40px;
    color: #404040;
}

.container-about-us p {
    padding-left: 10%;
    display: flex;
    font-size: 26px;
    color: #404040;
    padding-top: 25px;
}

.container-advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-advantages h1 {
    font-size: 55px;
    padding-bottom: 114px;
}

.advantages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 75px 60px;
    padding: 0 10%;
}

.content {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #404040;
    line-height: 29px;
}

.content p {
    margin-left: 60px;
}

@media screen and (max-width: 2560px) {
    .container-inner img {
        max-width: 90%;
    } 
}

@media screen and (max-width: 1980px) {
    .container-token {
        height: 60vh;
            grid-template-columns: 730px 714px;
    }

    .token-info p {
        font-size: 24px;
    }
}

@media screen and (max-width: 1680px) {
    .container-token {
        height: 40vh;
        display: flex;
        flex-wrap: wrap;
    }

    .token-percent {
        flex-wrap: nowrap;
        align-items: flex-start;
        flex-direction: column;
    }

    .token-percent h1 {
        font-size: 30px;
    }

    .token-percent h2 {
        font-size: 30px;
        padding-top: 10px;
        margin-top: -80px;
        margin-left: 150px;
    }

    .token-percent p {
        font-size: 30px;
        margin: 0px 130px;
    }

    .token-percent img {
        width: 30%;
    }

    .token-info{
        flex-direction: column;
    }

    .token-info h1 {
        font-size: 24px;
    }

    .token-info p {
        width: 500px;
        font-size: 18px;
    }

    .container-steps {
        display: flex;
        flex-direction: row-reverse;
        align-items: stretch;
        justify-content: space-evenly;
    }

    .steps-img {
        flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
    }


    .steps-logo img:nth-child(n) {
    padding-bottom: 150px;
    }

    .steps-name {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .steps-number {
        flex-wrap: wrap;
        flex-direction: column; 
    }

    .container-about-us {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container-about-us h1{
        font-size: 30px;
        padding-bottom: 30px ;
    }
    .about-us-text h6 {
        font-size: 24px;
    }
    .about-us-text p {
        font-size: 18px;
    }
    .about-us-text img {
        width: 90%;
    }

    .container-advantages h1{
        font-size: 32px;
        padding-bottom: 55px;
    }
    .content p{
        font-size: 18px;
    }
    .content img {
        width: 150px;
    }
}

@media screen and (max-width: 1440px) {
    .header-nav {
        width: 600px;
        font-size: 18px;
    }

    .call-to-action-title {
        font-size: 24px;
        font-weight: bold;
    }

    .call-to-action-desq {
        font-size: 18px;
    }

    .authorisation {
        flex-direction: column;
        align-items: baseline;
    }

    .btn {
        width: 200px;
        height: 50px;
        font-size: 18px;
        margin: 0;
    }

    .btn-registration {
        margin-bottom: 10px;
    }

    .steps-number {
        font-size: 24px;
    }

    .steps-img img {
        width: 80%;
    }
    .steps-logo img:nth-child(n) {
            padding-bottom: 110px;
            padding-left: 25px;
            width: 150px;
            height: 150px;
    }
}

@media screen and (max-width: 1240px) {
    .advantages {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 430px) and (max-width: 932px) {
    header {
        margin-bottom: 20px;
    }
    .logo {
        margin: 10px 5px;
        width: 40px;
    }

    .header-nav {
        width: 370px;
        font-size: 14px;
    }

    .social-net {
        width: 150px;
    }

    .social-net img {
        width: 25px;
    }

    .call-to-action-title {
    font-size: 18px;
    font-weight: bold;
    }

    .call-to-action-desq {
        font-size: 14px;
        line-height: normal;
    }

    .container-token {
        height: 60vh;
    }

    .token-percent img {
        width: 20%;
    }

    .token-percent h2 {
        font-size: 14px;
        margin-top: -60px;
        margin-left: 60px;
    }

    .token-percent p {
        font-size: 14px;
        margin: 0px 65px;
    }


    .token-percent h1{
        font-size: 14px;
        font-weight: bold;
    }

    .token-info {
        padding: 25px;
    }

    .token-info h1 {
        font-size: 14px;
        font-weight: bold;
    }

    .token-info p {
        width: 250px;
        font-size: 12px;
    }

    .btn-torg {
        width: 200px;
        height: 50px;
        font-size: 14px;
    }

    .btn-torg img {
        width: 25px;
    }

    .container-steps {
        margin-top: 30px;
    }

    .steps-name {
        font-size: 16px;
        line-height: 32px;
        font-weight: bold;
    }

    .steps-number {
        font-size: 16px;
        font-weight: bold;
    }

    .steps-img img {
        display: none;
    }

    .container-about-us h1 {
        font-size: 16px;
    }

    .container-about-us h6 {
        font-size: 14px;
    }

    .container-about-us p {
        font-size: 14px;
    }

    .about-us-text {
        align-items: end;
    }

    .container-advantages h1 {
        font-size: 16px;
        padding-bottom: 25px;
    }

    .content p {
        margin-left: 20px;
        font-size: 14px
    }

    .content img {
        width: 100px;
    }
}